<!DOCTYPE html>
<html lang="ko">
<head>
<title>Blog</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<!-- cdn -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

  <!-- 네브바 시작 -->
  <nav class="navbar navbar-expand-md navbar-dark bg-info" style="margin-bottom:100px;">
    <div
      class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="#">메뉴1</a></li>
        <li class="nav-item"><a class="nav-link" href="#">메뉴2</a></li>
        <li class="nav-item"><a class="nav-link" href="#">메뉴3</a></li>
        <li class="nav-item"><a class="nav-link" href="#">메뉴4</a></li>
        <li class="nav-item"><a class="nav-link" href="#">메뉴5</a></li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="/" style="font-family: 'Jua', sans-serif;">그린블로그</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" th:href="@{/board/create}">새 글 등록</a></li>
        <li class="nav-item"><a class="nav-link" href="loginForm">로그인</a></li>
        <li class="nav-item"><a class="nav-link" href="/joinForm">회원가입</a></li>
      </ul>
    </div>
  </nav>
  <!-- 네브바 끝 -->
  
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<!-- footer 시작 -->
<div class="jumbotron text-center"  style="margin-top:200px;">
  <p>그린컴퍼니</p>
  <p>☎️010-1234-5678</p>
  <p>?부산광역시 해운대구</p>
  <p>?사업자번호 : 022-1234-3543</p>
</div>

</body>
</html>